#main{
    margin-top: 20px;
    width:100%;
    min-height:600px;
}
.tb {
    min-height: 30px;
}
.tb_title {
    min-height: 30px;
    min-width: 23%;
    margin:10px auto;
}
.tb_txt {
    min-height: 30px;
    min-width: 23%;
    margin:10px auto;
}
